.messageBox {
  border-radius: 15px;
  padding: 1px 15px;
  margin-right: 10px;
  color: white;
  display: inline-block;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 13px;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-family: Helvetica;
  color: #fbfbfb;
  letter-spacing: 0.3px;
  font-size: 14px;
}


.justifyStart {
  justify-content: flex-start;
  margin-left: 10px;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorPurple {
  color: #201A23;
}

.colorRed{
  color: red;
}

.backgroundPurple {
  background:  #9e4770 ;
}

.backgroundLight {
  background: white ;
}
